@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nanum+Gothic:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');



//Fonts
$font-got:'Nanum Gothic', sans-serif;
$font-ant:'Anton', sans-serif;
$font-pop:'Poppins', sans-serif;

//Font-size
$font-vss:0.5rem; //8px
$font-vs:0.625rem; //10px
$font-xs: 0.75rem; //12px
$font-sm: 0.875rem; //14px
$font-md: 1rem; //16px
$font-lg: 1.125rem; //18px
$font-xl: 1.25rem; //20px
$font-xm:1.375rem; //22px
$font-xxl: 1.5rem; //24px
$font-xxm:1.75rem; //28px
$font-xxxl: 1.875rem; //30px
$font-xxxxl: 2.25rem; //36px
$font-xxxxxl:2.625rem; //42px
$font-big:48px; 

//Color
$color-white: #fff;
$color-black: #000;
$color-purple:#925FF0 ;
$color-menu:#FA709A;
$color-gradient: linear-gradient(to right, #FA709A, #FEE140);
$color-purplelight:#292929;
$color-green:#C8FEC7;
$color-button-purple:#E9DFFC;
$color-gradient-green:linear-gradient(to right,#84FAB0 ,#8FD3F4);
$color-gradient-purple:linear-gradient(to right, #E0C3FC 0%, #8EC5FC 100%);
$color-gradient-rainbow:linear-gradient(to right,  #FFE76A, #65C8FF, #F00 )